<body>
<div>

<% include ../_header %>

<div class="body">

<div class="welcome">
<strong>Welcome!</strong>,</div>

<p> You can confirm your account email through the link below: <br><a href="<%= verificationUrl %>">Confirm my account</a>.</p>

<p>Cheers!<br>
Team Selasfora</p>

</div><!--content-or-Body-->

<% include ../_footer %>

</div><!--main-wrapper-->

