<body>
<div>

<% include ../_header %>

<div class="body">

<div class="welcome">
<strong>Hello,</div>

<p> Request from <%= name %>: with <%= issue %> issue.</p>
<p> <%= message %> </p>

<p>Cheers!<br>
Selasfora</p>

</div><!--content-or-Body-->

<% include ../_footer %>

</div><!--main-wrapper-->

